@import 'variables', 'colours.module';

.pageNotFound {
  @include breakpointMd {
    @each $level, $size in ('h1': 3em, 'h2': 2em) {
      h#{$level} {
        font-size: $size;
      }
    }
  }

  h1 {
    font-size: 5em;
    text-align: center;
  }

  h2 {
    @include margin($bottom: 4rem);
    color: base('04');
    font-size: 3em;
    text-align: center;
  }
}
