$base: (
  '00': #2d2d2d,
  '01': #393939,
  '02': #515151,
  '03': #747369,
  '04': #a09f93,
  '05': #d3d0c8,
  '06': #e8e6df,
  '07': #f2f0ec,
  '08': #f2777a,
  '09': #f99157,
  '0a': #fc6,
  '0b': #9c9,
  '0c': #6cc,
  '0d': #69c,
  '0e': #c9c,
  '0f': #d27b53,
);

@function base($num) {
  @return map-get($base, $num);
}

@each $num, $color in $base {
  .base#{$num} {
    color: $color;
  }
}

@function drawPalette($colors) {
  $length: length($colors);
  $color-stops: append((), nth($colors, 1), comma);
  $stop-size: calc(100 / $length);

  @for $i from 1 through $length {
    $color: nth($colors, $i);

    @if $i > 1 {
      $color-stops: append($color-stops, $color $stop-size * ($i - 1) * 1%);
    }

    $color-stops: append($color-stops, $color $stop-size * $i * 1%);
  }
  @return linear-gradient(to right, $color-stops);
}

.heroLogo {
  background: drawPalette(map-values($base));
  height: 3em;
  margin: 1em 0;
}
