@import 'variables', 'colours.module';

.container {
  @include responsive;
  @include margin($left: auto, $right: auto);
}

.right {
  float: right;
}

.clearfix {
  overflow: auto;
}

.path {
  color: base('0d');
}

.caret {
  color: base('07');
}

.siteTitle {
  @include breakpointMd {
    font-size: 3em;
  }
  color: base('0c');
  font-size: 5em;
  text-align: center;
}

.headline {
  @include breakpointMd {
    @include padding($left: 2rem, $right: 2rem);
  }
  color: base('0a');
  font-size: 3em;
}
