@import 'variables', 'colours.module';

.search {
  display: flex;

  h1 {
    @include margin($top: inherit, $left: inherit);
  }

  &Box {
    border: None;
    border-radius: 2rem;
    font-size: 1.5rem;
    height: 3rem;
    margin-top: 0.5rem;
    padding-left: 1.5rem;
    transition: background 0.55s ease;
    width: 20rem;
  }
}
