@import 'deck.module';

.single {
  margin-bottom: 4rem;

  h1 {
    &.headline {
      color: base('0a');
      font-size: 2em;
      margin-top: 0;
    }
  }

  h2 {
    &.headline {
      color: base('0d');
      margin-top: 0;

      a {
        color: base('0d');
        margin-top: 0;
      }
    }
  }

  .metadata {
    font-size: 0.9em;
    margin-bottom: 1rem;
    text-align: right;

    .key {
      color: base('03');
    }

    .val {
      color: base('0e');

      a {
        color: base('0e');
      }
    }
  }

  section {
    @include breakpointMd {
      @include padding($left: 0.5rem, $right: 0.5rem);
    }
    @include cardLayout;
    @include padding;
    @include margin($bottom: 3rem);
    @each $prop,
      $color
        in (
          'h1': base('0d'),
          'h2': base('0b'),
          'h3': base('09'),
          'h4': base('08'),
          'h5': base('02'),
          'h6': base('03'),
          'a': base('0f')
        )
    {
      #{$prop} {
        color: $color;
      }
    }

    &.summary {
      a {
        color: base('0f');
      }
    }
  }

  * {
    max-width: 100%;
  }

  pre {
    @include margin($bottom: 1rem, $top: 0);
    border-radius: 3px;
    overflow-x: auto;
    padding: 2rem;
  }

  blockquote {
    @include margin($left: 2rem, $right: 3rem);
    border-left: 5px solid base('0c');
    padding-left: 1rem;
  }

  hr {
    border: 0;
    border-bottom: 1px solid base('04');
  }

  @include breakpointMd {
    .meta {
      @include padding($left: 2rem, $right: 2rem);
    }

    h1 {
      &.headline {
        @include padding($left: 2rem, $right: 2rem);
      }
    }

    section {
      &.body {
        @include padding($top: 2rem, $bottom: 1rem);
      }
    }
  }
}
