@import 'variables', 'colours.module';

@mixin cardLayout {
  @include breakpointMd {
    @include padding($left: 2rem, $right: 2rem);
  }

  background-color: base('07');
  color: base('00');
  padding: 1rem 8rem;
}

.deck {
  //display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  h1 {
    &.listTitle {
      color: base('0a');
      font-size: 3em;
    }
  }
}
