$fonts: 'Source Code Pro', monospace;
$max-width: 52em;

@mixin breakpointMd {
  @media (max-width: #{$max-width}) {
    @content;
  }
}

@mixin breakpointLg {
  @media (min-width: 60em) {
    @content;
  }
}

@mixin responsive {
  @include breakpointMd {
    width: 100%;
  }
  @include breakpointLg {
    max-width: 90%;
  }

  max-width: $max-width;
  @media (min-width: 82em) {
    max-width: 76em;
  }
}

@mixin padding($top: 2rem, $right: 2rem, $bottom: 2rem, $left: 2rem) {
  padding-bottom: $bottom;
  padding-left: $left;
  padding-right: $right;
  padding-top: $top;
}

@mixin margin($top: auto, $right: auto, $bottom: auto, $left: auto) {
  margin-bottom: $bottom;
  margin-left: $left;
  margin-right: $right;
  margin-top: $top;
}

@mixin pageBase {
  @include padding($bottom: 1rem, $top: 1rem);
  background-color: base('01');
}
